.home {
	.swipe-img {
		height: 6rem;
		margin-bottom: 0.5rem;
		img {
			height: 100%;
			width: 100%;
		}
	}
	.search {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 2rem;
		background: transparent;
	}
	.goods-list {
		width: 98%;
		margin: 0 auto;
		display: -webkit-flex; /* Safari */
  		display: flex;
  		flex-direction: row;
  		justify-content: space-around;
  		flex-wrap: wrap;
		.goods-item {
			width: 4.5rem;
			height: 5rem;
			background-color: #fff;
			margin-bottom: 0.5rem;
			.goods-item-img {
				width: 100%;
				height: 80%;
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}